* {
    box-sizing: border-box;
}
body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0e0801;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
}
h1 {
    color: #bada55;
}
input[type=text], button {
    font-size: 1.25em;
    margin-bottom: 1em;
    padding: .25em;
    border-radius: 3px;
    border: 1px solid white;
    color: #0e0801;
    width: 300px;
}
button {
    background-color: #bada55;
    color: black;
    border: none;
}
.family {
    width: 100%;
}
.new {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    min-width: 75%;
    padding: 1em;
    background-color: #1c1204;
    border-bottom: 6px solid #0e0801;
    margin: .5em;
}

.new h2 {
    margin: 0 .5em;
    color: white;
}
.person {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1c1204;
    color: black;
    margin: 1em;
}
.activePerson, #parent {
    border: 5px solid #bada55;
}
#parent {
    text-align: center;
    padding: .5em;
    margin: 0;
    overflow: scroll;
}

#log {
    background-color: #1c1204;
    padding: 1em;
    margin: .5em;
    min-width: 25%;
    color: white;
}
.invisible {
    opacity: 0;
}
#half  {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-width: 100%;
}
#selected {
    padding: 5px;
    text-align: center;
}
@media (max-width: 700px){
    #half {
        flex-direction: column;
        align-items: center;
    }

}